{%extends 'main/layout.html'%}


{%block tittle%}Контент{%endblock%}
{%block content%}
    <div class="subblock">
        <div class="txtblock">



            {% csrf_token %}
            {% for value in text %}

            <div class="banki-block" style="{% if value.tone == 'Negative' %}background-color: #F7EBEB;{% elif value.tone == 'Positive' %}background-color: #EBF7EE;{% endif %}">

                <p>{{ value.title }}</p>
                <p>{{value.text}}</p>
                <p>{{value.name}}</p>
                <p style="{% if value.tone == 'Negative' %}background-color: #EB9696;{% elif value.tone == 'Positive' %}background-color: #96EBBB;{% endif %}; height: 40px; font-size: 30px;">{{value.tone}}</p>
                <hr>

            </div>
            {% endfor %}


        </div>

    </div>

{%endblock%}