{%extends 'main/layout.html'%}
{%block tittle%}Поиск по датам{%endblock%}
{%block content%}
<div class = find_block>

    <form method = "get">

        <input type="text" name="db_query" placeholder="Введите запрос">
        <br>
        <label for="start_date">Начальная дата:</label>
        <input type="date" id="start_date" name="start_date">
        <br>
        <label for="end_date">Конечная дата:</label>
        <input type="date" id="end_date" name="end_date">
        <br>
        <button type = 'submit'>Найти</button>


    </form>
    <div class="txtblock">
        <p>{{ std }},  {{edt}}</p>
        <p style="background-color: #96EBBB; height: 40px; font-size: 30px;">Позитивные: {{ res.total_positive }}</p>
        <p style="background-color: #EB9696; height: 40px; font-size: 30px;">Негативные: {{ res.total_negative }}</p>

            </tr>
        <h3>График</h3>
        <div id="plot_div">
        {{ plot_div|safe }}
        </div>

    </div>


</div>

{%endblock%}