{%extends 'main/layout.html'%}

{%block tittle%}Тексты{%endblock%}
{%block content%}

        <h1 class="tittle_">Тексты</h1>

        <form method = "get">
            <select name="sources" id="sources">
                <option value="all"></option>
                <option value="news">Новости</option>
                <option value="banks">Банки</option>
                <option value="client">client</option>
            </select>
            <input type="text" name="db_query" placeholder="Введите запрос">
            <input type="date" name="date" placeholder="Введите дату">
            <button type = 'submit'>Найти</button>

        </form>

        <div class="txtblock">
                {% for el in text %}
                <div class="banki-block" style="{% if el.tone == 'Negative' %}background-color: #F7EBEB;{% elif el.tone == 'Positive' %}background-color: #EBF7EE;{% endif %};">
                <p>Источник: {{el.source}}</p>
                <p>Запрос: {{el.query}}</p>
                <p>Содержание: {{el.content}}</p>
                <p>Дата: {{el.date}}</p>
                <p style="{% if el.tone == 'Negative' %}background-color: #EB9696;{% elif el.tone == 'Positive' %}background-color: #96EBBB;{% endif %}; height: 40px; font-size: 30px;">Тональность: {{el.tone}}</p>
                <hr>
                </div>
                {% endfor %}

        </div>

{%endblock%}

